<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Menú</title>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/login.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body class="body-menu">
	<!-- <header>
		<div class="header">
			<h3>SandBox</h3>	
		</div>
	</header> -->
	<section id="menu-horizontal">
		<nav class="menu-horizontal">
			<ul>
				<li>
					<!-- <div class="sp-ani"> -->
						<!-- <i class="fa fa-arrow-circle-o-down"></i> -->Administración de Personal Educativo
						<nav class="submenu">
							<ul>
								<li>Sub menu 1</li>
								<li>Sub menu 2</li>
								<li>Sub menu 3</li>
								<li>Sub menu 4</li>
								<li>Sub menu 5</li>
							</ul>
						</nav>
					<!-- </div> -->
				</li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Administración de Personal Educativo<!-- </div> --></li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Programación de Cursos y Asignaciones<!-- </div> --></li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Organización de Eventos y Festividades<!-- </div> --></li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Gestión de Faltas y Asistencias<!-- </div> --></li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Seguimiento y control Gerencial<!-- </div> --></li>
				<li><!-- <div class="sp-ani"><i class="fa fa-arrow-circle-o-down"></i> -->Administración de Alumnos<!-- </div> --></li>
			</ul>
		</nav>
	</section>
	<section id="contenedor-principal">
		<!-- <div class="menu-vertical">
			<nav class="menu">
				<ul>
					<li>
						<span  class="sp-ani"><a href=""><i class="fa fa-arrow-circle-o-down"></i>Opcion 1</a></span>
						<nav class="submenu">
							<ul>
								<li><a href="">Submenu 1</a></li>
								<li><a href="">Submenu 2</a></li>
								<li><a href="">Submenu 3</a></li>
							</ul>
						</nav>
					</li>
					<li><span  class="sp-ani"><a href=""><i class="fa fa-arrow-circle-o-down"></i>Opcion 2</a></span></li>
					<li><span  class="sp-ani"><a href=""><i class="fa fa-arrow-circle-o-down"></i>Opcion 3</a></span></li>
					<li><span  class="sp-ani"><a href=""><i class="fa fa-arrow-circle-o-down"></i>Opcion 4</a></span></li>
					<li><span  class="sp-ani"><a href=""><i class="fa fa-arrow-circle-o-down"></i>Opcion 5</a></span></li>
				</ul>
			</nav>
		</div> -->
	</section>
	<script>
		(function(){
			[].slice.call(document.querySelectorAll('.menu-horizontal')).forEach( function(el) {
				console.log(el);
			})
		})();
	</script>
</body>
</html>